@page
@model RazorWeb.Pages.SellerPage.SellerManageCartModel
@{
}


<div class="home-section">
    <!-- home-content -->
    <h2 id="nameTable">YOUR CART</h2>
    @* <%--End Home Content--%> *@

    @* <%-- Write Body Code--%> *@



    @* <%-- Button Buy --%> *@
    @if (Model.Cart != null && Model.Cart.Count > 0)
    {
        @foreach (var (key, value) in Model.Cart)
        {
        @* <%--Start Show Item Cart--%> *@
            <div class="cartDetail">
                @* <%--Start Show Item--%> *@
                <div class="itemDetail d-flex justify-content-between">

                    @* Image *@
                    <div>
                        <img style="object-fit: contain ;height: 100px;width: 100px" src="@Model.CartItems[key].Image_URL[0]"/>
                    </div>

                    @* Content *@
                    <div class="d-flex flex-column flex-grow-1 px-4">
                        <p class="h5" id="nameBook"> @Model.CartItems[key].Book_Title</p><br>
                        <div class="price d-flex flex-column">
                            <p id="quantity">Quantity: @value</p>
                            <p id="total">
                                <span>Price: @Model.CartItems[key].Book_Price </span>
                                <small style="text-decoration:underline">đ</small>
                            </p>
                        </div>
                    </div>

                    @* Button Update and Delete *@
                    <div class="d-flex flex-column mr-4 gap-2">
                        <button class="btn-outline-primary" style="font-size: 20px;border: none" id="btnUpdate" data-toggle="modal"
                                data-target="#CartModalUpdate_@key">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="btn-outline-danger" style="font-size: 20px;border: none" data-toggle="modal" id="btnDelete"
                                data-target="#CartModalDelete_@key">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>

                @* <%--Delete Book Cart--%> *@
                <div class="modal fade" id="CartModalDelete_@key" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <header class="head-form mb-0">
                                <h2>Are You Sure To Delete The Book ?</h2>
                            </header>

                            <div class="modal-body">
                                @* <%--Form --%> *@
                                <form action="sellerCartAction?action=deleteCart" method="POST">
                                    <input type="hidden" name="count"
                                           value="1"/>
                                    <input type="hidden" name="nameBook"
                                           value="${x.bookName}"/>
                                    <input type="hidden" name="bookId" value="${x.bookId}"/>
                                    @* <%-- Are You Sure --%> *@
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger add">Delete</button>

                                <button class="btn btn-warning xclose" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @* <%--End Delete Book Cart--%> *@

                @* <%--Update Cart--%> *@
                <div class="modal fade" id="CartModalUpdate_@key" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <header class="head-form">
                                <h2>Update Quantity Book</h2>
                            </header>

                            <div class="modal-body">
                                @* <%--Form --%> *@
                                <form action="sellerCartAction?action=modifyCart" method="POST">
                                    @* <%-- ID BOOK Insert To Inventory SQL--%> *@
                                    <input type="hidden" name="update"
                                           value="1"/>
                                    <input type="hidden" name="nameBook"
                                           value="${x.bookName}"/>
                                    <input type="hidden" name="bookId" value="${x.bookId}"/>
                                    @* <%-- DO Quantity Add to Cart --%> *@
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-address-book"></i>
                                                </span>
                                            </div>
                                            <input type="number" name="quantityUpdate" class="form-control input-sm"
                                                   style="font-size: 15px" placeholder="Quantity" required min="1" max="${x.quantity_Book}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer" id="modal-footer">
                                <button type="submit" class="btn btn-info add">Update</button>

                                <button class="btn btn-warning xclose" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                @* <%--End Update Cart--%> *@
            </div>
            <hr/>
        }


        <form method="POST">
            <div class="totalCart">
                <p id="priceCart">
                    <h1>
                        Total: <fmt:formatNumber type="number" value="${total}"/>
                        <small style="text-decoration:underline">đ</small>
                    </h1>
                </p>
                <button id="btnBuy" class="btn btn-primary" type="submit">Buy</button>
            </div>
        </form>
    }
    else
    {
        <p class="text">You Do Not Have A Book In Your Cart</p>
        <form action="/SellerPage/SellerManageBooks" method="get">
            <button type="submit" class="btn btn-info btnAddBook">Add Book To Cart</button>
        </form>
    }

</div>