@page
@model RazorWeb.Pages.AdminPage.AdminCreateNewEmployeeModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/signUpForm.css">
    
</head>
<body>
    @if (ViewData["Message"] != null)
    {
        <div class="message-box">
            <span class="message-text">@ViewData["Message"]</span>
            <span class="close-button" onclick="this.parentNode.style.display = 'none';">&times;</span>
        </div>
    }
    <!-- partial:index.partial.html -->
    <section class='login centered-element' id='login'>
        <div class='head'>
            <h1 class='company'>Phuong Nam Book Store</h1>
        </div>
        <p class='msg'>Welcome to Create Account</p>
        <div class='form' >
            <form  method="POST">
                <div class="form-group">
                    <input type="text" placeholder='Account' class='text' asp-for="User.User_Account><br>
                    @if (!Model.IsAccount)
                    {
                    <span class='text' style="color: orange;font-weight:200">@Model.User.User_Account did exists</span>
                    }
                    <span asp-validation-for="User.User_Account" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" placeholder='Password' asp-for="User.User_Password" class='password'><br>
                    <span asp-validation-for="User.User_Password" class="text-danger" style="color:orange;font-weight:200"></span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder='Name' asp-for="User.User_Name" class='text'><br>
                    <span asp-validation-for="User.User_Name" class="text-danger" style="color:orange;font-weight:200"></span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder='Phone' asp-for="User.User_Phone" class='text' id='phone'><br>
                    <span asp-validation-for="User.User_Phone" class="text-danger" style="color:orange;font-weight:200"></span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder='Address' asp-for="User.User_Address" class='text' id='address'><br>
                    <span asp-validation-for="User.User_Address" class="text-danger" style="color:orange;font-weight:200"></span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder='Email' asp-for="User.User_Email" class='text' id='address'><br>
                    <span asp-validation-for="User.User_Email" class="text-danger" style="color:orange;font-weight:200"></span>
                </div>
               
                            <p>Gender</p>
                            <div class="form-group">
                                <td><input type="radio" asp-for="User.Is_User_Gender" class="radio" value="Male" checked="checked"> Male</td>
                                <td><input type="radio" asp-for="User.Is_User_Gender" class="radio" value="Female"> Female</td>
                                <td><input type="radio" asp-for="User.Is_User_Gender" class="radio" value="Other"> Other</td>
                            <span asp-validation-for="User.Is_User_Gender" class="text-danger" style="color:orange"></span>
                            </div>
                            
                       
                            <p>Role</td>
                            <div class="form-group">
                                <td><input type="radio" asp-for="User.Role_Id" class="radio" value="3" checked="checked"> Seller<br /></td>
                                <td><input type="radio" asp-for="User.Role_Id" class="radio" value="2"> Staff<br /></td>
                                <span asp-validation-for="User.Role_Id" class="text-danger" style="color:orange"></span>
                            </div>
                            
                <div class="wrapper-button">
            <a href="/AdminPage/AdminManageEmployees" class='btn-login'>Back Manage Employees</a>
                    <button type="submit" class='btn-signup'> Create Account</button>
                </div>
            </form>

        </div>
    </section>
    <!-- partial -->
    <script src="~/js/LoginForm.js"></script>
</body>