@page
@model RazorWeb.Pages.AdminPage.AdminOverViewModel
@{
}

   


        <div class="home-section">

            <h2 style="text-align: center;
                    align-items: center; padding-top: 1.5rem;
                    color: #fab804ea;">
                PHƯƠNG NAM BOOKSTORE MANAGEMENT
            </h2>
            <!-- home-content -->
            <div class="home-content">

                <div class="overview-boxes">


                    <div class="box">
                        <div class="left-side">
                            <div class="boxtopic">Dashboard</div>
                            <div class="number"><img class="imageOverview" src="~/images/adminDashboard.png" alt="dashboardImg" /></div>
                            <div class="indicator">
                                <i class='bx bx-notepad'></i>
                                <span class="text">Show Statistic Values</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="left-side">
                            <div class="boxtopic">Employees</div>
                            <div class="number"><img class="imageOverview" src="~/images/adminEmployees.png" alt="empImg" /></div>
                            <div class="indicator">
                                <i class='bx bx-notepad'></i>
                                <span class="text">Show List Information Of Staffs And Sellers</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="left-side">
                            <div class="boxtopic">Booking Request</div>
                            <div class="number"><img class="imageOverview" src="~/images/adminBookingRequest.png" alt="BookRequestImg" /></div>
                            <div class="indicator">
                                <i class='bx bx-notepad'></i>
                                <span class="text">Show List Booking Request </span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="left-side">
                            <div class="boxtopic">Books</div>
                            <div class="number"><img class="imageOverview" src="~/images/adminBook.png" alt="BookImg" /></div>
                            <div class="indicator">
                                <i class='bx bx-notepad'></i>
                                <span class="text">Show Infor Of List Books</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
