@page
@model RazorWeb.Pages.StaffPage.StaffManageNodifycshtmlModel
@{
}

<!-- home content -->
<div class="home-section">
    <!-- home-content -->
    <div class="home-content" style="margin-left:50px;">
        <div class="home-notify">
            <p class="notify">NOTIFICATION</p>
            <div>
                <p class="text">
                    <strong> 20/11/2022:</strong> Sale 10% các đơn hàng tri ân ngày Nhà Giáo Việt Nam <br />
                    <strong> 23/11/2022 - 30/11/2022: </strong>Sale Black Friday giảm giá 30% các đơn hàng có giá trị từ 200.000vnd trở lên<br />
                    <strong>  12/12/2022: </strong>Sale 10% các đơn hàng từ 150.000vnd<br />
                    <strong>24/12/2022 - 25/12/2022:</strong> Nghĩ Lễ Noel<br />
                    <strong>  1/1/2022:</strong> Nghĩ tết dương lịch<br />
                    <strong>18/1/2022: </strong>Lễ tất niên cuối năm<br />
                    <strong> 21/1/2022 - 25/1/2022:</strong> Nghĩ tết âm lịch
                </p>
            </div>
        </div>
    </div>
</div>

