@page
@model RazorWeb.Pages.StaffPage.StaffManageImportationModel
@{
}

<!-- home content -->
<div class="home-section">
    <!-- home-content -->
    <div class="home-content">
        <div>
            <h2 id="nameTable">LIST OF BOOK IMPORTATION</h2>
        </div>
        <%-- Button History--%>
        <div class="history">
            <form action="staffImportationAction?action=historyImportation" method="POST">
                <button id="btnHistory">
                    <i class="fa-solid fa-recycle"></i>
                </button>
            </form>
        </div>
        <%-- End Button History--%>
    </div>
    <%--End Home Content--%>

    <%--  Write   Body Code--%>
    <table class="table">
        <thead class="thead-dark" style="font-size: 15px">
            <tr>
                <th>.No</th>
                <th>Image</th>
                <th>Name Book</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Import Date</th>
                <th>Note</th>
                <th>Employee Implement</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size: 15px">
            <c:forEach var="i" items="${listImportation}" varStatus="loop">
                <c:if test="${i.import_Status==true}">
                    <%--                                Start Show Item Inventory--%>
                    <tr>
                        <td>${loop.count}</td>
                        <td>
                            <img style="height: 100px;width: 100px"
                                 src="<c:url value=" /images/${i.import_image}" />"/>
                        </td>
                        <td>
                            <a href="staffBookAction?action=bookDetail&bookId=${i.import_Book_Id}&categoryId=${i.import_Category_Id}&bookName=${i.import_Name_Book}">
                                ${i.import_Name_Book}
                            </a>
                        </td>
                        <td>${i.import_Quantity_Request}</td>
                        <td>
                            <fmt:formatNumber value="${i.import_Detail_Price_Book}" type="number" />
                            <small style="text-decoration:underline">đ</small>
                        </td>
                        <td>
                            <fmt:formatNumber value="${i.import_Detail_Total}" type="number" />
                            <small style="text-decoration:underline">đ</small>
                        </td>
                        <td>${i.import_Date}</td>
                        <td>${i.import_Note}</td>
                        <td>${i.import_Employee}</td>

                        <td>
                            <button style="font-size: 30px;border: none" data-toggle="modal"
                                    data-target="#myModal${loop.index}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <%-- End Show Item Inventory--%>

                    <%--Delete Book Inventory--%>
                    <div class="modal fade" id="myModal${loop.index}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <header class="head-form mb-0">
                                    <h2>Are You Sure To Delete The Book ?</h2>
                                </header>

                                <div class="modal-body">
                                    <%--Form --%>
                                    <form action="staffImportationAction?action=deleteImportation" method="POST">
                                        <input type="hidden" name="import_Detail_Id" value="${i.import_Detail_Id}" />
                                        <input type="hidden" name="count"
                                               value="1" />
                                        <input type="hidden" name="nameBook"
                                               value="${i.import_Name_Book}" />
                                        <%-- Are You Sure --%>
                                    </form>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger add">Delete</button>

                                    <button class="btn btn-warning xclose" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%--End Delete Book Inventory--%>
                </c:if>
            </c:forEach>
        </tbody>
    </table>
</div>

